{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $perPage := 10 }}
{{ $pageOffset := mul (sub .Paginator.PageNumber 1) $perPage }}

    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="li-main-article-list">
                    {{ range $index, $page := .Data.Pages }}
                        {{ if ne $page.Type "page" }}
                            {{ if ge $index $pageOffset }}
                                {{ if lt $index (mul (add $pageOffset 1) $perPage) }}
                                    <div class="li-article">
                                       {{ .Render "summary"}}
                                    </div>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="twelve columns row li-pagination">
            <div class="six columns">
                <div class="li-pagination-previous">
	        {{ if .Paginator.HasPrev }}
                  <a href="{{ .Paginator.Prev.URL }}">&lt;&lt; Previous posts</a>
                {{ else }} &nbsp; {{ end }}
                </div>
            </div>
            <div class="six columns" style="margin-left: 0; margin-right: 0">
                <div class="li-pagination-next">
                {{ if .Paginator.HasNext }}
                  <a href="{{ .Paginator.Next.URL }}">More posts &gt;&gt;</a>
                {{ else }} &nbsp; {{ end }}
                </div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
